.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.order-card {
  background: white;
  padding: 16px;
  max-width: 250px;
  width: 250px;
  font-family: Avenir;
  font-style: normal;
}

.order-card .heading {
  color: #292535;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.order-card .split-heading {
  display: flex;
  justify-content: space-between;
}

.order-card .info {
  color: rgba(119, 117, 126, 0.5);
  font-size: 16px;
}

.order-card .action-card {
  box-shadow: 0px 4px 10px rgba(222, 222, 222, 0.5);
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.action-card .button-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.button-group > button:first-child {
  margin-right: 8px;
}

.button-group button {
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 800;
  font-size: 14px;
  background: white;
  width: 88px;
  height: 32px;
}

.button-group .buy {
  border: 1px solid #49d273;
  color: #49d273;
}

.button-group .sell {
  border: 1px solid #ec7987;
  color: white;
  background: #ec7987;
}

.action-card .currency-date {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 12px;
}

.currency-date > div:first-child {
  margin-right: 4px;
}

.currency-date .currency-type {
  color: #292535;
  font-weight: 800;
  font-size: 18px;
}

.currency-date .date {
  color: #77757e;
  font-weight: 300;
  font-size: 12px;
}

.action-card .action-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
}

.action-price .icon {
  color: #292535;
  font-size: 16px;
}

.action-price .price {
  color: #292535;
  font-weight: 300;
  font-size: 12px;
}

.action-price > i:first-child {
  margin-right: 6px;
}

.action-card .details .text {
  font-weight: 300;
  font-size: 12px;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.action-card .details .text .info {
  color: rgba(119, 117, 126, 0.5);
  font-size: 16px;
  margin-right: 4px;
}

.action-card .details .text a {
  color: #292535;
  font-weight: 500;
}

.order-card .market-limit-card {
  box-shadow: 0px 4px 10px rgba(222, 222, 222, 0.5);
  border-radius: 4px;
}

.market-limit-card .nav-item button {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
  border-radius: 0;
  color: #292535;
  background: rgb(220 218 233 / 20%);
}

.market-limit-card .nav-tabs .limit .nav-link.active {
  color: #292535;
  border-color: #fff #fff #fff rgb(41 37 53 / 20%);
}

.market-limit-card .nav-tabs .market .nav-link.active {
  color: #292535;
  border-color: #fff rgb(41 37 53 / 20%) #fff #fff;
}

.market-limit-card .tab-content {
  padding: 16px;
}

.tab-content .metrics .heading {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #292535;
  text-align: left;
  margin-bottom: 6px;
  display: flex;
  align-items: flex-end;
}

.metrics .heading .info {
  color: rgba(119, 117, 126, 0.5);
  font-size: 13px;
  margin-left: 4px;
}

.metrics .position {
  margin-bottom: 16px;
}

.metrics .position .otoken {
  border: 1px solid #dcdae9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px;
  min-height: 60px;
}

.otoken .balance {
  display: flex;
  background: rgb(220 218 233 / 30%);
  border-radius: 2px;
  justify-content: space-between;
  padding: 2px 4px;
  margin-bottom: 8px;
}

.balance .text {
  color: #77757e;
  font-size: 10px;
}

.balance .number {
  color: #77757e;
  font-weight: 800;
  font-size: 12px;
}

.otoken .token-input {
  display: flex;
  justify-content: space-between;
}

.token-input .form-control {
  font-size: 20px;
  border: none;
  padding: 0px;
  width: 80%;
}

.form-control:focus {
  box-shadow: none;
}

.token-input .max-button {
  font-size: 10px;
  color: #77757e;
  display: flex;
  align-items: center;
}

.token-input .max-button .button {
  border: 1px solid #4dadf3;
  box-sizing: border-box;
  border-radius: 4px;
  color: #4dadf3;
  text-transform: uppercase;
  font-size: 8px;
  padding: 1px 4px;
  margin-right: 4px;
  cursor: pointer;
  font-weight: 800;
}

.collateral .heading {
  letter-spacing: normal !important;
}

.collateral .form-control {
  border-color: #dcdae9 transparent #dcdae9 #dcdae9;
}

.collateral .input-group-text {
  color: #77757e;
  border-color: #dcdae9 #dcdae9 #dcdae9 transparent;
  background: none;
  font-size: 10px;
}

.metrics .spot {
  margin-bottom: 16px;
}

.metrics .spot .spot-input {
  border: 1px solid #dcdae9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.spot-input .action-button {
  display: flex;
  background: rgb(220 218 233 / 40%);
  border-radius: 32px;
  height: 20px;
  width: 41px;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}

.action-button div {
  color: rgb(119 117 126 / 40%);
  font-size: 15px;
}

.action-button div:first-child {
  margin-right: 6px;
}

.action-button .active {
  background: #77757e;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  position: relative;
}

.action-button .action .plus {
  margin-right: 2px;
}

.action-button .action .minus {
  font-size: 15px;
}

.action-button .active .minus {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 2px;
}

.action-button .active .plus {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 3px;
}

.spot-input .input-group {
  width: 50%;
}

.spot-input .form-control {
  border: none;
  text-align: end;
}

.spot-input .input-group-text {
  background: transparent;
  border: none;
  color: #77757e;
  font-size: 10px;
  padding: 6px 2px;
}

.metrics .collateral-range {
  margin-bottom: 16px;
}

.metrics .liquidation {
  margin-bottom: 16px;
}

.liquidation .form-control {
  border: none;
}

.metrics .step-details {
  margin-bottom: 16px;
}

.step-details .step-heading {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #292535;
  text-align: left;
  margin-bottom: 10px;
}

.step-details .list-item {
  font-weight: 300;
  font-size: 12px;
  color: #77757e;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: auto 140px auto;
  align-items: center;
  text-align: left;
  margin-bottom: 16px;
}

.step-details .active {
  color: #292535 !important;
  font-weight: 500;
  font-size: 12px;
}

.step-details .active .text {
  text-decoration-line: underline;
}

.step-details .active i {
  text-decoration-line: none;
}

.step-details .list-item i {
  font-size: 18px !important;
}

.step-details .list-item .right {
  margin-right: 10px;
}

.metrics .action-summary {
  background: rgb(220 218 233 / 20%);
  border-radius: 4px;
  padding: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
